
  .header{
     background-color:black;
     color: white;
     text-align: center;
     
  }
  button{
    height: 90%;
    width: 10%;
    font-size: large;
    border-radius: 12%;
  }
  input{
    height: 90%;
    width: 30%;
  }
  .logout{
    position:relative;
    left: 85%;
    margin-top:45%;
  }
  form {
  background-color: lightgrey;
  width: 700px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  text-align: center;
  }
  .details{
    padding-left: 400px;
  }
